
 <div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>Hello, World!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>





<!-- Vertically centered modal -->
<!-- <div class="modal-dialog modal-dialog-centered">
 -->

 
<!-- 
<div class="modal-header">
  <h4 class="modal-title">{{ titulo }}</h4>
</div>
<div class="modal-body">
  {{ mensaje }}


  <div class="degradado">

        <label for="">Escribe tu correo para recibir la liga de tu primer entrenamiento</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" 
           placeholder="correo electronico" #correo>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="accept(correo.value)">{{ btnOkText }}</button>
</div> -->

<!-- 
</div> -->






